#  Q&A Activity on Testing of Hypothesis 

## 1. Carry out descriptive analytics on the dataset.
## 2. Check whether female and male students scored the same marks.
## 3. Whether test preparation helps the students

        ### Team1: Reshma Joseph, Sreehari T, Akshitha M K, Sneha Saji

#### Importing required libraries and packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

### 1. Carry out descriptive analytics on the dataset.

Use Pandas read_csv to load the .csv file into a dataframe.

In [2]:
data=pd.read_csv("Week_8_Q&A_dataset - Sheet1.csv")

head() method is used to print the first five rows:

In [3]:
data.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

With the describe method, summary statistics is calculated

In [4]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

### 2. Check whether female and male students scored the same marks.

We use the query method to create two Pandas series objects: We first subset the rows containing men, in the column Gender. Subsequently, we do the exact same thing for the rows containing women.

In [5]:
men = data.query('Gender == "male"')['Total Marks']
women = data.query('Gender == "female"')['Total Marks']

In [6]:
men

0     14
6     30
8     18
9     24
10    44
11    23
12    43
13    28
18    47
19    36
20    14
21    44
Name: Total Marks, dtype: int64

In [7]:
women

1     28
2     18
3     48
4     21
5     40
7     12
14    41
15    13
16    48
17    45
22    41
23    27
24    27
25    38
26    50
27    43
Name: Total Marks, dtype: int64

#### Hypotheses:
##### Null hypotheses: Two group means are equal
##### Alternative hypotheses: Two group means are different (two-tailed)

Sample size is less than 30, so T test

#### Carrying out a two-sample t-test using SciPy

##### P value

If the null hypothesis is right, P value gives the probability of obtaining an effect at least as large as the one in your sample

High P-values: Your sample results are consistent with a true null hypothesis.
Low P-values: Your sample results are not consistent with a null hypothesis.

##### Significance level (Î±)

It is a measure of the strength of the evidence that must be present in your sample before you will reject the null hypothesis and conclude that the effect is statistically significant.

For example, a significance level of 0.05 indicates a 5% risk of concluding that a difference exists when there is no actual difference. Lower significance levels indicate that you require stronger evidence before you will reject the null hypothesis.

For this t-test lets assign significance level as 0.05

##### If the p-value is less than your significance level, you can reject the null hypothesis and conclude that the effect is statistically significant. In other words, the evidence in your sample is strong enough to be able to reject the null hypothesis at the population level.

We use the ttest_ind method to carry out the independent samples t-test. Here, we used the Pandas seriesâ we previously created (subsets), and set the equal_var parameter to True.

In [8]:
res = stats.ttest_ind(men, women, equal_var=True)
res

Ttest_indResult(statistic=-0.6940885268848668, pvalue=0.4937822317960763)

#### Insight: p value is more than significance level(0.05) which implies null hypothesis is true. Ie Male and Female students scored same marks as per the mean

### 3. Whether test preparation helps the students

##### Null Hypothesis: Test preparation does not helps students  Âµ2(mean with preparation)<=Âµ1(mean with no perparation) 
##### Alternate Hypothesis: Test preparation helps students  Âµ2(mean with preparation)>Âµ1(mean with no perparation)

Significance Level = 0.05

If p value is more than significance level null hypothesis stands and vice versa

Here we have to perform 1-taled 2 sample t-test

In [9]:
test = data[data["Test preparation"]=="completed"]["Total Marks"]
notest = data[data["Test preparation"]=="none"]["Total Marks"]

In [10]:
test

5     40
10    44
12    43
16    48
21    44
26    50
27    43
Name: Total Marks, dtype: int64

In [11]:
notest

0     14
1     28
2     18
3     48
4     21
6     30
7     12
8     18
9     24
11    23
13    28
14    41
15    13
17    45
18    47
19    36
20    14
22    41
23    27
24    27
25    38
Name: Total Marks, dtype: int64

ttest_ind method is used to carry out the independent samples t-test. Here, we used the Pandas seriesâ we previously created (subsets), and set the equal_var parameter to True.

In [12]:
res = stats.ttest_ind(test,notest, equal_var=True)
res

Ttest_indResult(statistic=3.6143637527769217, pvalue=0.0012671292457320106)

##### Insight:
##### Pvalue has very small value and is less than significance level(0.05), so null hypothesis is rejected, which implies alternative hypothesis is true. i.e, Test preparation helps students!